#navbar {
    background-color: var(--darkGrey);
}

#card-section{
    background-color: var(--darkGrey);
    /* width: 8800px; */
}
ul{
    overflow: hidden;
    display: flex;
}
.card{
    background-color: bisque;
   position: relative;
    max-width: 100%;
    width: 25rem;
    height: 30rem;
    /* overflow: hidden; */
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    border-radius: inherit;
    filter: unset;
    transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}
.card-info{
    width: 100%;    
    position: absolute;
    margin-bottom: 10px;
    padding: .5rem 1rem;
    background-color: red ;
    bottom: 0;
    left: 0;
    color: var(--black);
    /* z-index:11; */
}